// Fonts
$nunito: "Nunito";

// Sizing
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$headerLineHeight: 1.2;

// Spacing:
$pad-1: 1em;

// Breakpoints
$breakpoint-small: 600px;
$breakpoint-large: 1080px;
